@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto auto 1fr;
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
}

.title {
  font-size: 36px;
  margin: 0;
  grid-column: 1;
  grid-row: 1;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 25px;
  grid-column: 1;
  grid-row: 2;
  margin-top: 30px;
}

.grid-item {
  background-color: #67bb3e;
  padding: 20px;
  position: relative;
  border-radius: 10px;
  color: #fff;
  text-align: justify;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item1 {
  grid-area: 1 / 1 / 2 / 2;
}

.item2 {
  grid-area: 1 / 2 / 2 / 3;
}

.item3 {
  grid-area: 2 / 1 / 3 / 2;
}

.item4 {
  grid-area: 2 / 2 / 3 / 3;
}

.circle {
  position: absolute;
  top: -20px;
  left: -20px;
  width: 40px;
  height: 40px;
  background-color: #fff;
  color: #000;
  border: 2px solid #67bb3e;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 18px;
}

.referencia-texto {
  grid-column: 2;
  grid-row: 1 / span 2;
  font-size: 26px;
  padding: 0 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.terminos-container {
  grid-column: 1 / span 2;
  grid-row: 3;
  display: flex;
  margin-top: 20px;
  position: relative;
}

.terminos-box {
  border: 1px solid black;
  border-radius: 10px;
  background-color: #fff;
  padding: 10px;
  margin-right: 20px;
  position: absolute;
  top: 42px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.583); /* Sombra */
}

.gray-container {
  border-radius: 10px;
  margin-left: 180px;
  padding: 5px 30px;
  background-color: #717171;
  color: #fff;
  text-align: justify;
  display: flex;
  justify-content: center;
  align-items: center;
}


/* ANIMACIONES */

.grid-item {
  transition: transform 0.3s ease;
}

.grid-item:hover {
  transform: scale(1.05);
}


.grid-item {
  transition: background-color 0.3s ease;
}

.grid-item:hover {
  background-color: #85cc5a;
}


.circle {
  transition: transform 0.5s ease;
}

.circle:hover {
  transform: rotate(45deg);
}

.terminos-box {
  transition: background-color 0.3s ease;
}

.terminos-box:hover {
  background-color: #67BB3E; 
  color: #fff;
}

.gray-container{
  transition: background-color 0.3s ease;
}

.gray-container:hover {
  background-color: #434343; 
}

/* DISEÑO TABLET Y MÓVIL */

@media screen and (max-width: 768px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto;
    margin: 0 auto;
    padding: 20px;
  }

  .title {
    font-size: 26px;
    margin: 0;
    text-align: center;
  }

  .referencia-texto {
    margin-top: 40px;
    font-size: 16px;
    grid-column: 1;
    grid-row: 1;
  }

  .grid-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin-top: 10px;
  }

  .grid-item {
    padding: 15px;
  }

  .item1 {
    grid-area: 1 / 1 / 2 / 3;
  }

  .item2 {
    grid-area: 2 / 1 / 2 / 3;
  }

  .item3 {
    grid-area: 3 / 1 / 3 / 3;
  }

  .item4 {
    grid-area: 4 / 1 / 4 / 3;
  }

  .circle {
    position: absolute;
    top: -15px;
    left: -15px;
    width: 30px;
    height: 30px;
  }

  .terminos-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 40px;
    grid-column: 1 / span 2; 
    grid-row: auto; 
  }

  .terminos-box {
    border: 1px solid black;
    border-radius: 10px;
    background-color: #fff;
    padding: 10px;
    margin-top: -70px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.583);
  }

  .gray-container {
    border-radius: 10px;
    margin-left: 0;
    margin-top: 35px;
    padding: 5px 20px;
    background-color: #717171;
    color: #fff;
    text-align: justify;
  }
}
