@use 'sass/config/variables' as v;
@use 'sass/config/media' as m;

.container {
  width: 100%;
  padding: 0 10%;
  position: relative;
  @include m.largeScreen(true) {
    padding: 0 30px;
  }
  @include m.mediumScreen() {
    padding: 0 5px;
  }
}

.title {
  font-size: v.$fs-h1;
  padding: 20px;
  text-transform: uppercase;
}

.more,
.terms,
.referrals,
.title {
  margin-bottom: 20px;
}

.more {
  width: 100%;
  padding: 50px 30px;
  border-radius: 10px;
  background: linear-gradient(90deg, v.$bg-2 29%, v.$bg-3 100%);
  h3,
  p {
    color: v.$cl-3;
  }
  h3 {
    margin-bottom: 10px;
    font-size: v.$fs-h2;
  }
}

.terms {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  padding: 10px 20px;
  &-paragraph {
    transition: background-color 0.3s ease;
    border: 1px solid v.$bg-3;
    background-color: v.$bg-1;
    border-radius: 10px;
    padding: 10px 30px;
    text-align: center;
    position: relative;
    box-shadow: -5px 7px 9px 9px rgb(0 0 0 / 15%);
  }
  &-container {
    border-radius: 0 10px 10px 0;
    width: 100%;
    padding: 20px;
    color: v.$cl-3;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    right: 0;
    &:hover,
    &:hover::before {
      background-color: v.$bg-grey;
    }
    &,
    &::before {
      transition: all 0.3s ease-in-out;
      background-color: v.$bg-3;
    }
    &::before {
      content: '';
      border-radius: 10px 0 0 10px;
      position: absolute;
      width: 20px;
      height: 100%;
      left: -20px;
      top: 0;
      z-index: -1;
    }
  }
  @include m.extraLargeScreen() {
    flex-direction: column;
    align-items: flex-start;
    &-container {
      border-radius: 0 0 10px 10px;
    }
    &-container::before {
      border-radius: 10px 10px 0 0;
      width: 100%;
      height: 10%;
      left: 0;
      top: -10%;
    }
  }
}

.referrals {
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 20px 0;
  &-list {
    display: flex;
    justify-content: center;
    width: auto;
    max-width: 550px;
    align-items: center;
    flex-wrap: wrap;
    width: auto;
    gap: 20px;
  }
  &-paragraph {
    width: 40%;
    font-size: v.$fs-h1;
    display: inline-flex;
    justify-content: center;
  }
  @include m.extraLargeScreen() {
    flex-direction: column;
    &-list {
      margin-bottom: 20px;
    }
    &-paragraph {
      width: 100%;
      text-align: center;
    }
  }
}
